@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Bitter', serif;
}

body {
    background-color: #292929;
}

.clermont {
    display: flex;
    width: 160px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.le-harvre {
    display: flex;
    width: 164px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.lens {
    display: flex;
    width: 151px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.lille{
    display: flex;
    width: 210px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.lorient {
    display: flex;
    width: 140px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.metz {
    display: flex;
    width: 140px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.montpellier {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.monaco {
    display: flex;
    width: 126px;
    height: 220px;
    justify-content: center;
    padding: 35px;
}

.nantes {
    display: flex;
    width: 155px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.nice {
    display: flex;
    width: 161px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.lyonnais {
    display: flex;
    width: 172px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.olympique-marseille {
    display: flex;
    width: 146px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.psg {
    display: flex;
    width: 154px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.racing {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.stade-brestois {
    display: flex;
    width: 165px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.stade-reims {
    display: flex;
    width: 101px;
    height: 200px;
    justify-content: center;
    padding: 35px;
} 

.stade-rennais {
    display: flex;
    width: 181px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}

.toulouse{
    display: flex;
    width: 220px;
    height: 200px;
    justify-content: center;
    padding: 35px;
}



.ligue-1 {
    display: flex;
    padding: 105px 64px 64px 64px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px 104.759px;
    flex-wrap: wrap;

  
}

.img-2 {
    width: 18px;   
}

a { 
    color: currentColor;
 } 

a:hover {
    color: rgb(248, 143, 143);
    transition: 0.8s;

}

.voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}